@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#layout {
    position: relative;
    max-width: 600px;
    max-height: 1300px;
    margin: auto;
    height: 100vh;
    border: 1px solid gray;
}
main {
    text-align: center;
    margin-top: 20px;
}
main > a {
    display: inline-block;
    width: 45%;
    border: 1px solid black;
    padding: 10px 0 10px 0;
}
#arrowback {
    width: 70px;
}
#account {
    width: 150px;
}
#acc {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    transform: translateX(20px);
}
.imgs {
    width: 70px;
}
a {
    text-decoration: none;
    color: black;
}